.view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
